@using Tms.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; 
}

<main aria-labelledby="title" class="container">
    <h2 id="title" class="text-center mb-4">Transpotation Maintaince System</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <section id="loginForm" class="border p-4 rounded shadow">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="mb-3 text-center">Log in</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })

                    <div class="form-group" style="margin-left: 25%">
                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group" style="margin-left: 25%">
                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", @style = "margin-right: 25%" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-check" style="margin-left: 25%">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                    </div>

                    <p class="text-center">
                        @Html.ActionLink("Register as a new user", "Register") 
                     
                        @*@Html.ActionLink("Forgot your password?", "ForgotPassword")*@
                    </p>
                }
            </section>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
